.user-name {
  padding-right: 24px;
  .v-toolbar-title__placeholder {
    text-align: right;
    font-size: 0.9em;
  }
}
.login {
  .dress-image {
    margin-top: 14px;
  }
  .dress-title {
    font-size: 3.4em;
  }
  .dress-subtitle {
    font-size: 1.4em;
  }
}
